config.json
node_modules
installer
README.pdf
README.html
compressed
canvasFileSync.zip
.idea
.DS_Store
build/R*
build/C*
build/c*
build/l*
build/.*
build/m*
build/w*
build/k*
build/e*
build/g*
dist/electron/*
dist/web/*
!build/icons
coverage
node_modules/
npm-debug.log
npm-debug.log.*
thumbs.db
!.gitkeep